{% extends 'custum/layout.html' %}
{% include custom_form %}
{% block addcontent %}
{% load custom_form %}
<h3>添加数据</h3>
{% show_add_edit_form form %}


<h1>没有用templatetag 实现</h1>
<div style="width: 300px">
    <form method="post" novalidate>{% csrf_token %}

    {% for row in form %}
        {{ row.field.label }}:{{ row }}<p style="color: red; text-decoration: none">{{ row.errors.0 }}</p>
    {% endfor %}
        <input type="submit" value="提交" class="btn btn-default">
    </form>
</div>
{% endblock %}